{% extends 'base.html' %} {% block content %}

<div class="container">
  <h3 class="text-center"> Mortgage Rate Trend </h3>
</div>

<div id="mortgage-chart" class="container"></div>

<div class="container">
  <h3 class="text-center"> S & P Index Trend </h3>
</div>

<div id="snp-chart" class="container"></div>

<style>
  
</style>

<script>
     
    var mortgageGraph = {{graphJSON | safe}};
    
    Plotly.plot('mortgage-chart',mortgageGraph,{}); 

    var snpGraph = {{snpGraphJSON | safe}};
    
    Plotly.plot('snp-chart',snpGraph,{}); 

</script>

{% endblock %}
